main{
    background-image: url(../img/main_background.png);
}

footer{    
    background: #f1f1f1;
    border: 5px solid transparent;
    border-image: url(../img/footer_background.png) 10;
    height: 100px;
    
    p{
        font-size: 0.9rem;
    }
}